body {
  font-style: "Poppins", sans-serif;
}

.page-content {
  margin-top: 100px;
}

footer {
  border-top: 1px solid #7992e2;
  margin-top: 150px;
  background-color: rgb(40, 40, 233);

  p {
    color: #ffffff;
  }
}

.form-control {
  background-color: #e1e4ff;
}
